html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 1,5;
    height: 100%;
    margin: 0;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 100 100"><circle cx="50" cy="50" r="45" fill="none" stroke="white" stroke-width="5" opacity="0.5"/><text x="50%" y="50%" alignment-baseline="central" text-anchor="middle" font-size="18" font-family="Arial" fill="white" opacity="0.5">Discovery</text></svg>') 32 32, auto;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px; /* Increased padding for more separation */
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box; /* Ensures padding is included in the total width */
    }

.header-overlay {
    position: sticky;
    margin: 0 auto;
    padding-top: 1%;
}

.header-overlay span {
    position: sticky;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: lighter;
}

nav.ex {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.left-nav li {
    display: inline;
}

.left-nav li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 14px;
}

.learn-more {
    text-decoration: none;
    color: white;
    font-weight: normal;
    align-items: center;
    font-size: 13px;
    margin-right: 1vw;
}

.title {
    max-width: 1000px;
    font-size: 50pt;
    margin: 0 auto;
    padding-top: 12vw;
    justify-content: center;
}

.title p {
    margin: 5px 0;
}

.title a {
color: white;
text-decoration: underline;
}

.title a:hover {
    font-weight: bold; /* Rende il testo in grassetto quando si passa sopra con il cursore */
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    padding: 10px 20px; /* Increased padding for more separation */
    background-color: black;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

footer a:hover {
    text-decoration: underline;
}


.titlehig {
    max-width: 600px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 3%;
    justify-content: center;
}

.titlehig p {
    margin: 5px 0;
    font-weight: 300;
}

.timeline {
    top: 15vw;
    margin-top: 3%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    color: black;
    font-weight: lighter;
    text-align: center;
    flex: 1;
    margin: 0 top;
    padding: 0 20px; /* Aggiunge padding a sinistra e destra per distanziare dai bordi */
    /* margin: 0 top; Questa riga non è valida, rimuoverla */
}

.timeline li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.testohistoryalto
h1 {
max-width: 600px;
margin: 0 auto;
margin-top: 2%;
font-size: 3em;
line-height: 1.3;
}

.testohistorycentro
p {
max-width: 600px;
margin: 0 auto;
margin-top: 1%;
font-size: 1,5em ;
line-height: 1.5;

}

.trasgrediscotitolo 
h2 {
max-width: 600px;
margin: 0 auto;
margin-top: 2%;
font-size: 2em;
line-height: 1.3;
}

.trasgrediscotesto 
p {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1%;
    font-size: 1,5em ;
    line-height: 1.5;
}

.agfronzoni {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    border-radius: 25px;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.container div {
    flex-grow: 1;
}

.container img {
    width: 100%;
    border-radius: 25px;
}

.container2 {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.container2 div {
    flex-grow: 1;
}

.container2 img {
    width: 100%;
    border-radius: 25px;
}


.container3 {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.container3 div {
    flex-grow: 1;
}

.container3 img {
    width: 100%;
    border-radius: 25px;
}

.designer
h2 {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 3%;
    font-size: 2em;
    line-height: 1.3;
    }

.designertesto 
p {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1,5em ;
    line-height: 1.5;   
}   





.lascuoladellessenziale 
h1 {
    max-width: 600px;
    margin: 0 auto;
    margin-top:2% ;
    font-size: 2em;
    line-height: 1.3;
}

.lascuoladellessenzialetesto
p {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1,5em ;
    line-height: 1.5;   
} 

.img9 img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
} 

.esteticatitolo
h1 {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 2em;
    line-height: 1.3;
    }

.esteticatesto
p {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 1,5em ;
    line-height: 1.5;    
}

.img49 img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
} 

.testocontinuo1 {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 1%;
    font-size: 1,5em ;
    line-height: 1.5;
} 


.img52 img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
} 

.citazione
h2 {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 2em;
    line-height: 1.3;
}  

.img53 img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}    


/* inizio pagina all */

.primasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
   
}
.primasezione img {
    width: 100%;
    border-radius: 15px;
}
.primasezione p {
    font-size: 10pt ;
    line-height: 1.5;  
}


.secondasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.secondasezione img {
    width: 100%;
    border-radius: 25px;
}
.secondasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}



.terzasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}
.terzasezione img {
    width: 100%;
    border-radius: 25px;
}
.terzasezione p {
    font-size: 10pt ;
    line-height: 1.5; 
}


.quartasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.quartasezione img {
    width: 100%;
    border-radius: 25px;
}
.quartasezione{
    font-size: 10pt ;
    line-height: 1.5; 
}



.quintasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.quintasezione img {
    width: 100%;
    border-radius: 25px;
}
.quintasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}


.sestasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}

.sestasezione img {
    width: 100%;
    border-radius: 25px;
}
.sestasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}



.settimasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.settimasezione img {
    width: 100%;
    border-radius: 25px;
}
.settimasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}


.ottavasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.ottavasezione img {
    width: 100%;
    border-radius: 25px;
}
.ottavasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}



.nonasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}

.nonasezione img {
    width: 100%;
    border-radius: 25px;
}
.nonasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}


.decimasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}

.decimasezione img {
    width: 100%;
    border-radius: 25px;
}
.decimasezione p {
    font-size: 10pt ;
    line-height: 1.5; 
}



.undicesimasezione { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.undicesimasezione img {
    width: 100%;
    border-radius: 25px;
}
.undicesimasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}




.dodicesimasez { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}

.dodicesimasez img {
    width: 100%;
    border-radius: 25px;
}
.dodicesimasez p{
    font-size: 10pt ;
    line-height: 1.5; 
}




.tredicesimasez { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.tredicesimasez img {
    width: 100%;
    border-radius: 25px;
}
.tredicesimasez p {
    font-size: 10pt ;
    line-height: 1.5; 
}




.quattordicesimasez { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.quattordicesimasez img {
    width: 100%;
    border-radius: 25px;
}
.quattordicesimasez p{
    font-size: 10pt ;
    line-height: 1.5; 
}



.quattordicesimasezplus { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;

}

.quattordicesimasezplus img {
    width: 100%;
    border-radius: 25px;
}
.quattordicesimasezplus p{
    font-size: 10pt ;
    line-height: 1.5; 
}




.quindicesimasez { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}

.quindicesimasez img {
    width: 100%;
    border-radius: 25px;
}
.quartasezione p{
    font-size: 10pt ;
    line-height: 1.5; 
}



/* img a catena learnmore */
.containerlearnmore { 
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    gap: 5px;
}

.containerlearnmore img {
    width: 100%;
    border-radius: 25px;
}

/* img anni  */


/* Stili generali */
.timeline-button, .timeline-menu {
    display: none;
}

@media screen and (max-width: 998px) {
    body {
        font-size: 16px;
        line-height: 1.6;
        padding-top: 70px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background: transparent;
    }

    .header-overlay span {
        font-size: 8px;
        color: black;
    }

    .left-nav {
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .left-nav li {
        display: inline;
    }

    .left-nav li a {
        font-size: 14px;
        padding: 10px;
    }

    .title {
        font-size: 40px;
        padding-top: 100px;
        text-align: center;
    }

    .title p {
        font-size: 25px;
    }


    

    .testohistoryalto h1,
    .titlehig,
    .trasgrediscotitolo,
    .lascuoladellessenziale,
    .esteticatitolo {
        font-size: 24px;
        text-align: center;
        padding: 0 10px;
    }

    .testohistorycentro p,
    .trasgrediscotesto p,
    .designertesto p,
    .lascuoladellessenzialetesto p,
    .esteticatesto p,
    .testocontinuo1 {
        font-size: 14px;
        padding: 0 10px;
    }

    .container,
    .containerlearnmore,
    .container2,
    .container3,
    .primasezione,
    .secondasezione,
    .terzasezione,
    .quartasezione,
    .quintasezione,
    .sestasezione,
    .settimasezione,
    .ottavasezione,
    .nonasezione,
    .decimasezione,
    .undicesimasezione,
    .dodicesimasez,
    .tredicesimasez,
    .quattordicesimasez,
    .quindicesimasez {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .container div,
    .containerlearnmore div,
    .container2 div,
    .container3 div,
    .primasezione div,
    .secondasezione div,
    .terzasezione div,
    .quartasezione div,
    .quintasezione div,
    .sestasezione div,
    .settimasezione div,
    .ottavasezione div,
    .nonasezione div,
    .decimasezione div,
    .undicesimasezione div,
    .dodicesimasez div,
    .tredicesimasez div,
    .quattordicesimasez div,
    .quindicesimasez div {
        margin: 10px 0;
    }

    .container img,
    .containerlearnmore img,
    .container2 img,
    .container3 img,
    .primasezione img,
    .secondasezione img,
    .terzasezione img,
    .quartasezione img,
    .quintasezione img,
    .sestasezione img,
    .settimasezione img,
    .ottavasezione img,
    .nonasezione img,
    .decimasezione img,
    .undicesimasezione img,
    .dodicesimasez img,
    .tredicesimasez img,
    .quattordicesimasez img,
    .quindicesimasez img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 3% /* Ridurre il padding verticale */
    }
    
    footer a {
        font-size: 16px;
        line-height: 1; /* Modificare line-height se necessario */
        margin: 0; /* Assicurarsi che non ci siano margini aggiuntivi */
    }
    
    footer p, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
        margin: 0; /* Rimuovere i margini verticali degli altri elementi */
    }
    
}

/* Additional styles for timeline button and menu functionality */
.timeline-button.active + .timeline-menu {
    display: flex;
}
